<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avas.imagesearchapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.avas.imagesearchapp.DaggerHILT.ApplicationWrapper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MMVMAppwithGlidePaging3NavigationDaggerRetrofit">

        <!-- we need to attach a FileProvider to be able to share this app's data(photo) to other apps-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.avas.imagesearchapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data><!-- we need to create this resource folder and file too -->
        </provider>

        <activity android:name="com.avas.imagesearchapp.VIEW.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>